<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>About us</title>
    </head>
    <body>
        <p>
            We started DVD Store to bring the best movie experience to all.
        </p>
        <p>
            As a movies fans, we know how it's difficult to find the right movie at the right time.
            We hope that this website will satisfy every movie lover all around the world.
            We're gonna make you offers you can't refuse.
        </p>
        <p>
            So, don't be scared, take a seat and may the force be with you.
        </p>
    </body>
</html>